$ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
$ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";

$ipad-breakpoint: "(min-device-width : 768px) and (max-device-width : 1024px)";
$mobile-breakpoint: "(max-device-width : 599px)";

// new
// --------------------
$xl-breakpoint: "(min-width : 1200px)";
$lg-breakpoint: "(min-width : 992px) and (max-width : 1199px)";
$md-breakpoint: "(min-width : 768px) and (max-width : 991px)";
$sm-breakpoint: "(min-width : 576px) and (max-width : 767px)";
$xs-breakpoint: "(min-width : 1px) and (max-width : 575px)";

$xl-below-breakpoint: "(max-width : 1199px)";
$lg-below-breakpoint: "(max-width : 991px)";
$md-below-breakpoint: "(max-width : 767px)";
$sm-below-breakpoint: "(max-width : 575px)";

$xl-above-breakpoint: "(min-width : 1200px)";
$lg-above-breakpoint: "(min-width : 992px)";
$md-above-breakpoint: "(min-width : 768px)";
$sm-above-breakpoint: "(min-width : 576px)";
$xs-above-breakpoint: "(min-width : 1px)";

@mixin responsive($media) {
    @if $media == xl {
        @media only screen and #{$xl-breakpoint} { @content; }
    } @else if $media == lg {
        @media only screen and #{$lg-breakpoint} { @content; }
    } @else if $media == md {
        @media only screen and #{$md-breakpoint} { @content; }
    } @else if $media == sm {
        @media only screen and #{$sm-breakpoint} { @content; }
    } @else if $media == xs {
        @media only screen and #{$xs-breakpoint} { @content; }
    }

    @else if $media == above-xl {
        @media only screen and #{$xl-above-breakpoint} { @content; }
    } @else if $media == above-lg {
        @media only screen and #{$lg-above-breakpoint} { @content; }
    } @else if $media == above-md {
        @media only screen and #{$md-above-breakpoint} { @content; }
    } @else if $media == above-sm {
        @media only screen and #{$sm-above-breakpoint} { @content; }
    } @else if $media == above-xs {
        @media only screen and #{$xs-above-breakpoint} { @content; }
    }

    @else if $media == below-xl {
        @media only screen and #{$xl-below-breakpoint} { @content; }
    } @else if $media == below-lg {
        @media only screen and #{$lg-below-breakpoint} { @content; }
    } @else if $media == below-md {
        @media only screen and #{$md-below-breakpoint} { @content; }
    } @else if $media == below-sm {
        @media only screen and #{$sm-below-breakpoint} { @content; }
    }
}