$ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
$ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";

$ipad-breakpoint: "(min-device-width : 768px) and (max-device-width : 1024px)";
$mobile-breakpoint: "(max-device-width : 599px)";

// Responsive Mixins
@mixin responsive($media) {
    @if $media == desktop {
        @media only screen /*and (min-width: $medium-tablet-device-width + 1) and #{$desktop-only-breakpoint*}*/ { @content; }
    } @else if $media == ipad {
        @media only screen and #{$ipad-breakpoint} { @content; }
    } @else if $media == ipad-pro-portrait {
        @media only screen and #{$ipad-pro-portrait-breakpoint} { @content; }
    } @else if $media == ipad-pro-landscape {
        @media only screen and #{$ipad-pro-landscape-breakpoint} { @content; }
    } @else if $media == mobile {
        @media only screen and #{$mobile-breakpoint} { @content; }
    }
}