$ipad-pro-portrait-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1024px) and (max-width: 1024px)";
$ipad-pro-landscape-breakpoint: "(min-device-width : 1024px) and (max-device-width : 1024px) and (min-device-height : 1366px) and (max-device-height : 1366px) and (min-width: 1366px) and (max-width: 1366px)";

$ipad-breakpoint: "(min-device-width : 768px) and (max-device-width : 1024px)";
$mobile-breakpoint: "(max-device-width : 599px)";

// new
// --------------------
$xl-breakpoint: "(min-width : 1200px)";
$lg-breakpoint: "(min-width : 992px) and (max-width : 1199px)";
$md-breakpoint: "(min-width : 768px) and (max-width : 991px)";
$sm-breakpoint: "(min-width : 576px) and (max-width : 767px)";
$xs-breakpoint: "(min-width : 1px) and (max-width : 575px)";

$xl-down-breakpoint: "(max-width : 1199px)";
$lg-down-breakpoint: "(max-width : 991px)";
$md-down-breakpoint: "(max-width : 767px)";
$sm-down-breakpoint: "(max-width : 575px)";

$xl-up-breakpoint: "(min-width : 1200px)";
$lg-up-breakpoint: "(min-width : 992px)";
$md-up-breakpoint: "(min-width : 768px)";
$sm-up-breakpoint: "(min-width : 576px)";
$xs-up-breakpoint: "(min-width : 1px)";

@mixin responsive($media) {
    @if $media == xl {
        @media only screen and #{$xl-breakpoint} { @content; }
    } @else if $media == lg {
        @media only screen and #{$lg-breakpoint} { @content; }
    } @else if $media == md {
        @media only screen and #{$md-breakpoint} { @content; }
    } @else if $media == sm {
        @media only screen and #{$sm-breakpoint} { @content; }
    } @else if $media == xs {
        @media only screen and #{$xs-breakpoint} { @content; }
    }
}

@mixin responsive-up($media) {
    @if $media == xl {
        @media only screen and #{$xl-up-breakpoint} { @content; }
    } @else if $media == lg {
        @media only screen and #{$lg-up-breakpoint} { @content; }
    } @else if $media == md {
        @media only screen and #{$md-up-breakpoint} { @content; }
    } @else if $media == sm {
        @media only screen and #{$sm-up-breakpoint} { @content; }
    } @else if $media == xs {
        @media only screen and #{$xs-up-breakpoint} { @content; }
    } 
}
@mixin responsive-below($media) {
    @if $media == xl {
        @media only screen and #{$xl-down-breakpoint} { @content; }
    } @else if $media == lg {
        @media only screen and #{$lg-down-breakpoint} { @content; }
    } @else if $media == md {
        @media only screen and #{$md-down-breakpoint} { @content; }
    } @else if $media == sm {
        @media only screen and #{$sm-down-breakpoint} { @content; }
    }
}