//---------- Online Consult ----------//


// Layout
// ----------------------------------------
.main-wrap {
  padding: 64px 0 32px 0 !important;
  background: #F0F9F7 url('../assets/img/main/online-consult-bg.png') repeat fixed center !important;
}

.panel-wrap {
  margin-top: 0 !important;
  @include box-shadow(0px 1px 4px 1px rgba(0,0,0,0.05) !important);
}

.mtpc-logo {
  width: 649px; height: 83px; padding: 16px 0 16px 0;
  background: transparent url('../assets/img/main/logo.png') no-repeat;
  background-size: 75% auto; background-position: left center;
}

.pad-normal { padding: 32px 64px 64px 64px !important; }


// Responsive
// ----------------------------------------

@include responsive-below(xl) {
  .pad-normal { padding: 32px !important; }
  .mtpc-logo { background-position: center center; }
  .panel-bar { padding-left: 38px !important; }
}
@include responsive-below(sm) {
  .mtpc-logo { width: 100%; padding-bottom: 17%; height: 0; margin-bottom: 2%; }
}
