.sf-wrap {
  position: relative; display: inline-block; width: 100%;
  &.compact > div { margin-top: -10px !important; }
  .form-string { line-height: 14px; padding: 42px 0 0 0; font-weight: bold; }
  .form-space { height: 42px; }
  .btn-wrap {
    width: 100%; float: left;
    & > div { display: inline; }
  }

  .semi-grid {
    .sg-col { padding-top: 0; padding-bottom: 0; }
    .has-separator {
      border-bottom: 1px solid #EEEEEE;
    }
  }

  // for DataTable
  &.filter-form {
    float: left; width: 100%; margin-top: -16px;
    .semi-grid {
      width: calc(100% - 104px);
    }
    &>.btn-wrap { width: auto; float: right; margin-right: 0; }
  }
}
// Clickable Icon
.semi-input-wrap { position: relative; }
.btn-clear { position: absolute; right: 0; bottom: 12px; cursor: pointer; margin: 16px -12px 0 0; width: 36px !important; float: right; }
.semiForm .btn-icon, .btn-icon { width: 36px !important; }

//----- SemiSelect

.ss-wrap {
  position: relative;
  .ss-text { position: relative; }
  .ss-label { position: absolute; width: 100%; height: 100%; top: 0; left: 0; }
  .ss-arrow { position: absolute; right: 4px; top: 46px; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #CCC; }
}
.ss-popover {
  .ss-search {
    display: flex; width: auto; margin: 11px 11px 11px 11px; position: relative;
    input { display: block; width: 100%; box-sizing: border-box; padding: 7px 38px 7px 14px; font-size: 14px; border: 1px solid #DDD; }
    .ss-find-icon { position: absolute; top: 6px; right: 6px; }
  }
  .ss-options-wrap { max-height: 300px !important; overflow-y: auto; }
  .ss-option { padding-left: 56px !important; }
}

//----- SemiCheckInput

.sc-wrap {
  label { width: auto !important; }
}